<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">
  <title>Sell</title>
</head>

<body>
  <a href="/auction">キャンセル</a>
  <br>
  <div th:if="${items}">
    <form method="post" action="/auction/selling">
      <label for="due">入札期限</label>
      <input type="date" id="due" name="dueDate">
      <p>出品する商品</p>
      <div th:each="item, stat:${items}">
        <input type="radio" th:id="${item.id}" name="itemId" th:value="${item.id}">
        <label th:for="${item.id}">[[${item.name}]]</label>
      </div>
      <input type="submit" value="決定">
    </form>
  </div>
</body>

</html>
